<div class="main">
  <header class="navbar">
    <div>
      <h2 routerLink="/home" class="navbar__logo">{{ 'SUPER_CHINESE' | translate }}</h2>
      <small class="navbar__slogan">{{ 'SLOGAN' | translate }}</small>
    </div>
    <nav class="navbar__menu">
      <a *ngFor="let item of navItem" [routerLink]="['/', item.link]" routerLinkActive="selected">{{
        item.name | translate
      }}</a>
      <app-user-menu></app-user-menu>
    </nav>
  </header>
  <router-outlet></router-outlet>
  <footer class="footer">
    <small>Copyright {{ year | date: 'yyyy' }} &copy; {{ 'FOOTER' | translate }} </small>
  </footer>
  <aside class="aside">
    <ul>
      <a class="info" target="_blank" href="mailto:lqtoan37@gmail.com">
        <i nz-icon nzType="mail" nzTheme="fill"></i>
      </a>
      <a class="info" target="_blank" href="https://www.linkedin.com/in/lqtoan/">
        <i nz-icon nzType="linkedin" nzTheme="fill"></i>
      </a>
    </ul>
  </aside>
</div>