<ng-container *ngIf="authService.loading$ | async">
  <nz-spin nzSimple></nz-spin>
</ng-container>
<div class="main">
  <nav class="navbar">
    <div>
      <h2 routerLink="/home"
          class="navbar__logo">
        {{ 'SUPER_CHINESE' | translate }}
      </h2>
      <p [style.font-size.px]="'13'"
         class="navbar__slogan">{{ 'SLOGAN' | translate }}</p>
    </div>
    <div class="navbar__menu">
      <!-- <a routerLink="/home"
         routerLinkActive="selected">
        <span nz-icon
              nzType="home"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#b48ead'"></span>
      </a> -->
      <!-- <a routerLink="/dictionary"
         routerLinkActive="selected">
        {{ 'DICTIONARY' | translate }}
      </a> -->
      <app-change-language [style.margin-right.rem]="'0.5'"></app-change-language>
      <app-user-menu></app-user-menu>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <footer class="footer">
    <small>
      Copyright {{ year | date: 'yyyy' }} &copy; {{ 'FOOTER' | translate }}
    </small>
  </footer>
  <a class="facebook"
     target="_blank"
     href="https://www.facebook.com/lqtoann">
    <i nz-icon
       nzType="facebook"
       nzTheme="fill"></i>
  </a>
</div>