@import 'src/styles.scss';
@import '/src/assets/scss/animation';

.main {
  overflow-y: hidden;
  .navbar {
    background: $black;
    padding: 1.5rem 8rem;
    height: 15vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    &__logo {
      color: $primary-color;
      background: $linear-gradient;
      background-clip: text;
      font-weight: 600;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
    }
    &__slogan {
      color: $white;
    }
    &__menu {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      cursor: pointer;
      &__item:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  .footer {
    padding: 1rem 8rem;
    height: 10vh;
    background: $black;
    color: $white;
    display: flex;
    align-items: baseline;
  }

  .aside {
    position: absolute;
    bottom: 10vh;
    left: calc(5vw - 1rem);
    animation: fadedlyToClearly 1s linear 0.2s backwards;
    ul {
      .info {
        font-size: 2rem;
        color: $primary-color;
        transition: $transition;
      }
      .info:hover {
        transform: translateY(-2px);
      }
    }
    ul:after {
      content: '';
      margin: 0 auto;
      background: $primary-color;
      display: block;
      width: 1px;
      height: 10vh;
    }
  }
  
  @media screen and (max-width: $tablet) {
    .navbar {
      padding: 1rem 4rem;
    }
    .footer {
      padding: 1rem 4rem;
    }
    .aside {
      left: calc(2vw - 0rem);
    }
  }
  
  @media screen and (max-width: $mobile) {
    .navbar {
      padding: 1rem;
      &__logo {
        margin-bottom: 0.5rem;
        font-size: 1.75rem;
      }
      &__slogan {
        display: none;
      }
    }
    .footer {
      padding: 0.25rem 1rem;
    }
    .aside {
      left: unset;
      right: 0.5rem;
      bottom: calc(5vh - 0.25rem);
      ul {
        display: flex;
        .info {
          padding: 0.5rem;
          margin-right: 0.5rem;
          width: 2rem;
          height: 2rem;
          line-height: 1rem;
          background: $blue-linear-gradient;
          color: $white;
          font-size: 1rem;
          border-radius: 50%;
          opacity: 0.8;
        }
      }
      ul:after {
        display: none;
      }
    }
  }
}
