@import 'src/variables.scss';
@import 'animation';

.main {
  overflow-y: hidden;
  .navbar {
    background: $black;
    padding: 1.5rem 8rem;
    height: 8rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    &__logo {
      color: $primary-color;
      background: $linear-gradient;
      background-clip: text;
      font-weight: 600;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
    }
    &__slogan {
      color: $white;
    }
    &__menu {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      cursor: pointer;
      .selected {
        color: $primary-color;
        opacity: 0.8;
      }
      a {
        margin-right: 0.75rem;
        font-size: larger;
        color: $white;
        transition: $transition;
      }
      a:hover {
        background: $linear-gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .footer {
    padding: 0.5rem 8rem;
    height: 2rem;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
  }

  .facebook {
    position: absolute;
    right: 4rem;
    bottom: 7.5vh;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
    color: $white;
    background: $primary-color;
    border-radius: 50%;
    box-shadow: 0 0 25px 1px rgba($color: $black, $alpha: 0.5);
    transition: $transition;
  }
  .facebook:hover {
    opacity: 0.95;
    box-shadow: 1px 1px 25px 1px rgba($color: $black, $alpha: 0.75);
  }

  @media screen and (max-width: $tablet) {
    .navbar {
      padding: 1rem 4rem;
    }
    .footer {
      padding: 0.5rem 4rem;
    }
    .facebook {
      right: 1rem;
    }
  }

  @media screen and (max-width: $mobile) {
    .navbar {
      padding: 0 1rem;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      &__logo {
        margin-bottom: 0.5rem;
      }
      &__slogan {
        display: none;
      }
    }
    .footer {
      padding: 0.5rem 1rem;
    }
    .facebook {
      bottom: 2.5vh;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1.25rem;
      line-height: 2.5rem;
    }
  }
}
