@import 'src/variables.scss';
@import 'animation';

.top {
  padding: 0 0.5rem;
  height: 1.5rem;
  background: $linear-gradient;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .facebook {
    // margin-right: 0.5rem;
    color: #2374e1;
    font-size: 18px;
  }
  .logout:hover {
    cursor: pointer;
  }
}

.main {
  padding: 1rem calc(3 * 100vw / 12);
  height: calc(80vh - 3.5rem);
  overflow-y: scroll;
}

.copy-right {
  padding: 0 calc(3 * 100vw / 12);
  font-size: 10px;
}

@media screen and (max-width: $tablet) {
  .main {
    padding: 1rem calc(1 * 100vw / 12);
  }
  .copy-right {
    padding: 0 calc(1 * 100vw / 12);
  }
}

@media screen and (max-width: $mobile) {
  .main {
    padding: 1rem 0.5rem;
  }
  .copy-right {
    padding: 0 0.5rem;
  }
}
