<div class="top">
  <a class="facebook"
     nz-tooltip
     nzTooltipTitle="Facebook"
     target="_blank"
     href="https://www.facebook.com/lqtoann">
    <i nz-icon
       nzType="facebook"
       nzTheme="fill"></i>
  </a>
  <app-change-language></app-change-language>
  <!-- <app-user-menu></app-user-menu> -->
</div>
<app-navbar></app-navbar>
<div class="main">
  <router-outlet></router-outlet>
</div>
<p class="copy-right">
  Copyright 2022 - {{ year | date: 'yyyy' }} &copy; {{ 'FOOTER' | translate }}
</p>