<div class="top">
  <app-change-language></app-change-language>
  <ng-container *ngIf="authService.user$ | async as user">
    <div style="white-space: pre-wrap;">{{ 'WELCOME' | translate }}</div>
    <div class="user">{{ user.name }}</div>
  </ng-container>
  <app-notification class="notification"></app-notification>
  <span class="logout"
        nz-icon
        nzType="logout"
        nzTheme="outline"
        nz-tooltip
        [nzTooltipTitle]="'LOGOUT' | translate"
        nz-popconfirm
        [nzPopconfirmTitle]="'CONFIRM_LOGOUT' | translate"
        [nzOkText]="'CONFIRM' | translate"
        [nzCancelText]="'CANCEL' | translate"
        (nzOnConfirm)="confirm()"
        (nzOnCancel)="cancel()"></span>
  <!-- <app-user-menu></app-user-menu> -->
</div>
<app-navbar>
</app-navbar>

<div class="main">
  <router-outlet></router-outlet>
</div>
<p class="copy-right">Copyright 2022 - {{ year | date : 'yyyy' }} &copy; {{ 'FOOTER' | translate }}</p>

<a class="facebook"
   nz-tooltip
   nzTooltipTitle="Toan's Facebook"
   nzTooltipPlacement="left"
   target="_blank"
   href="https://www.facebook.com/lqtoann">
  <span nz-icon
        nzType="facebook"
        nzTheme="fill"></span>
</a>