@import 'src/variables.scss';
@import 'animation';

.top {
  padding: 0.25rem;
  height: 1.75rem;
  background: $linear-gradient;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .facebook {
    margin-right: 0.25rem;
    color: #2374e1;
    font-size: 14.5px;
  }
}

.main {
  padding: 1rem calc(3 * 100vw / 12);
  height: calc(100vh - 10rem);
  overflow-y: scroll;
}
.copy-right {
  height: 1rem;
  font-size: 11px;
  font-weight: 600;
}

@media screen and (max-width: $tablet) {
  .main {
    padding: 1rem;
  }
}

@media screen and (max-width: $mobile) {
  .top {
    .copy-right {
      font-size: 10px;
    }
  }
  .main {
    padding: 0.5rem;
  }
}
