::ng-deep {
  .ant-collapse>.ant-collapse-item {
    border: none;
  }
  .ant-collapse>.ant-collapse-item>.ant-collapse-header {
    padding: 1rem;
    color: $gray;
  }
  .ant-collapse-content {
    border-top: none;
    color: $black;
    font-weight: normal;
    border-radius: 0 0 0.5rem 0.5rem;
  }
  .ant-collapse-content>.ant-collapse-content-box {
    padding: 0.5rem;
  }
  .ant-collapse>.ant-collapse-item:last-child,
  .ant-collapse>.ant-collapse-item:last-child>.ant-collapse-header {
    border-radius: 0.5rem;
  }
  .ant-collapse-item:last-child>.ant-collapse-content {
    border-radius: 0 0 0.5rem 0.5rem;
  }
}

nz-collapse {
  background: $white;
  display: grid;
  gap: 0.75rem;
  border: none;
  overflow-y: scroll;
  nz-collapse-panel {
    background: $magenta-blue-white-linear-gradient;
    box-shadow: 1px 1px 0 0 rgba($color: $gray, $alpha: 0.1);
    border-radius: 0.5rem;
    font-weight: bold;
    transition: $transition;
    .wordList {
      .word {
        padding: 0 0.5rem 0.5rem;
        line-height: $line-height;
        border-radius: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &--name {
          font-size: larger;
          display: inline-block;
          min-width: 4rem;
          color: $black;
        }
        .wrap {
          margin-left: 1rem;
          display: flex;
          flex-flow: column;
          color: #00000073;
        }
      }
      .word:not(:last-of-type) {
        margin-bottom: 0.5rem;
        border-bottom: 1px solid rgba($color: $gray, $alpha: 0.3);
      }
    }
    transition: $transition;
  }
  nz-collapse-panel:hover {
    background: linear-gradient(135deg, rgba($color: $primary-color, $alpha: 0.75), rgba($color: #88C0D0, $alpha: 0.5), rgba($color: $second-white, $alpha: 1));
  }
}
