@import '/src/styles.scss';

.page {
  padding: 1rem 8rem;
  height: 75vh;
}

@media screen and (max-width: $tablet) {
  .page {
    padding: 1rem 4rem;
  }
}

@media screen and (max-width: $mobile) {
  .page {
    padding: 1rem;
  }
}