@import '/src/styles.scss';

.page {
  padding: $small-space $big-space;
  height: calc(100vh - 10rem);
}

@media screen and (max-width: $tablet) {
  .page {
    padding: $small-space $medium-space;
  }
}

@media screen and (max-width: $mobile) {
  .page {
    padding: $small-space;
  }
}
