::ng-deep {
  .ant-tabs-nav-wrap {
    padding: 0 $big-space;
    background: $white;
  }
  .ant-tabs-top > .ant-tabs-nav {
    margin-bottom: 0.5rem;
    box-shadow: 0 1px 25px 1px rgba($color: $black, $alpha: 0.1);
  }
  .ant-tabs-ink-bar {
    background: $linear-gradient;
    opacity: 0.75;
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $primary-color;
    background: $linear-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
  }
  .ant-tabs-tab {
    padding: $small-space 0;
    color: $black;
    font-size: 1rem;
    font-weight: 600;
    transition: $transition;
  }
  .ant-tabs-tab:hover {
    color: $black;
    background: $linear-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .ant-tabs-tab + .ant-tabs-tab {
    margin: 0 0 0 1rem;
  }
  .ant-tabs-tab-btn {
    transition: $transition;
  }
  .ant-tabs-content-holder {
    padding: 0rem $big-space;
    margin-bottom: 0;
  }
}

nz-tabset {
  height: 75vh;
  overflow-y: hidden;
}

@media screen and (max-width: $tablet) {
  ::ng-deep {
    .ant-tabs-nav-wrap {
      padding: 0 $medium-space;
    }
    .ant-tabs-content-holder {
      padding: 0 $medium-space;
    }
  }
}

@media screen and (max-width: $mobile) {
  ::ng-deep {
    .ant-tabs-nav-wrap {
      padding: 0 $small-space;
    }
    .ant-tabs-content-holder {
      padding: 0 $small-space;
    }
  }
}
