::ng-deep {
  .ant-tabs-top > .ant-tabs-nav {
    margin: 0;
  }
  .ant-tabs-ink-bar {
    background: $linear-gradient;
    opacity: 0.5;
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $primary-color;
    background: $linear-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
  }
  .ant-tabs-tab {
    padding: 0.5rem 0;
    color: $black;
    font-size: 1rem;
    font-weight: 600;
    transition: $transition;
  }
  .ant-tabs-tab:hover {
    color: $black;
    background: $linear-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .ant-tabs-tab + .ant-tabs-tab {
    margin: 0 0 0 1rem;
  }
  .ant-tabs-tab-btn {
    transition: $transition;
  }
}

nz-tabset {
  padding: 0rem 8rem;
  margin-bottom: 0;
  height: 75vh;
  overflow-y: hidden;
}

@media screen and (max-width: $tablet) {
  nz-tabset {
    padding: 0 4rem;
  }
}

@media screen and (max-width: $mobile) {
  nz-tabset {
    padding: 0 1rem;
  }
}
