::ng-deep {
  .ant-tabs-nav-wrap {
    background: transparent;
  }
  .ant-tabs-top > .ant-tabs-nav {
    margin-bottom: 0;
    box-shadow: 0 1px 25px 1px rgba($color: $black, $alpha: 0.1);
  }
  .ant-tabs-ink-bar {
    background: $linear-gradient;
    opacity: 0.75;
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $primary-color;
    background: $linear-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
  }
  .ant-tabs-tab {
    padding: 0 0 0.5rem;
    color: $black;
    font-size: 1rem;
    font-weight: 600;
    transition: $transition;
  }
  .ant-tabs-tab:hover {
    color: $black;
    background: $linear-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .ant-tabs-tab + .ant-tabs-tab {
    margin: 0 0 0 1rem;
  }
  .ant-tabs-tab-btn {
    transition: $transition;
  }
  .ant-tabs-content-holder {
    margin-bottom: 0;
  }
}

nz-tabset {
  height: calc(80vh - 6rem);
  overflow-y: hidden;
}

@media screen and (max-width: $tablet) {
}

@media screen and (max-width: $mobile) {
}
