@import '/src/variables.scss';
@import 'collapse';
@import 'spinner';

.tab-content {
  margin-top: 0.5rem;
  height: 65vh;
  overflow-y: scroll;
  .wordList {
    .word {
      padding: 0.5rem 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &--name {
        min-width: 4rem;
        color: $black;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 1px;
      }
      &--pinyin {
        color: $primary-color;
      }
      &--define {
        color: #81a1c1;
      }
      .wrap {
        margin-left: 0.5rem;
        display: flex;
        flex-flow: column;
        line-height: 100%;
      }
    }
    .word:not(:last-of-type) {
      border-bottom: 1px solid rgba($color: $gray, $alpha: 0.3);
    }
  }
}
