@import '/src/variables.scss';

.page-content {
  padding: 1rem 8rem;
  height: 75vh;
  background: #fff;
}

@media screen and (max-width: $tablet) {
  .page-content {
    padding: 1rem 4rem;
  }
}

@media screen and (max-width: $mobile) {
  .page-content {
    padding: 1rem;
  }
}
