@font-face {
    font-family: 'DFPHeiW7GB-HPinIn1NUU';
    src: url('DFPHeiW7GB-HPinIn1NUU-BFW.woff2') format('woff2'),
        url('DFPHeiW7GB-HPinIn1NUU-BFW.woff') format('woff'),
        url('DFPHeiW7GB-HPinIn1NUU-BFW.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

