<ng-container *ngIf="formVm$ | async as formVm">
  <nz-modal [nzVisible]="formVm.isVisible"
            [nzMaskClosable]="false"
            [nzStyle]="{ top: 'calc(20vh + 2.5rem)' }"
            [nzTitle]="formVm.isCreate ? ('ACTION.CREATE' | translate) : ('ACTION.UPDATE' | translate)"
            (nzOnCancel)="onCancel()">
    <ng-container *nzModalContent>
      <form nz-form
            (keydown.enter)="onSubmit()"
            autocomplete="off"
            [formGroup]="dictionaryForm"
            [nzLayout]="'vertical'">
        <div nz-row
             [nzGutter]="16">
          <!-- Display-->
          <div nz-col
               nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired
                             nzFor="display">{{ 'DICTIONARY.DISPLAY' | translate }}</nz-form-label>
              <nz-form-control [nzErrorTip]="errorDisplay">
                <input nz-input
                       placeholder="{{ 'INPUT.PLACE_HOLDER' | translate }}"
                       id="display"
                       formControlName="display" />
                <ng-template #errorDisplay
                             let-control>
                  <ng-container *ngIf="control.touched && control.hasError('required')">
                    {{ 'INPUT.PLACE_HOLDER' | translate }}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- Pinyin-->
          <div nz-col
               nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired
                             nzFor="pinyin">{{ 'DICTIONARY.PINYIN' | translate }}</nz-form-label>
              <nz-form-control [nzErrorTip]="errorPinyin">
                <input nz-input
                       placeholder="{{ 'INPUT.PLACE_HOLDER' | translate }}"
                       id="pinyin"
                       formControlName="pinyin" />
                <ng-template #errorPinyin
                             let-control>
                  <ng-container *ngIf="control.touched && control.hasError('required')">
                    {{ 'INPUT.PLACE_HOLDER' | translate }}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- HSK-->
          <div nz-col
               nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired
                             nzFor="hsk">HSK</nz-form-label>
              <nz-form-control [nzErrorTip]="errorHsk">
                <nz-select nzAllowClear
                           [nzPlaceHolder]="'SELECT.PLACE_HOLDER' | translate"
                           formControlName="hsk"
                           required>
                  <nz-option nzValue="hsk1"
                             nzLabel="HSK 1"></nz-option>
                  <nz-option nzValue="hsk2"
                             nzLabel="HSK 2"></nz-option>
                  <nz-option nzValue="hsk3"
                             nzLabel="HSK 3"></nz-option>
                  <nz-option nzValue="hsk4"
                             nzLabel="HSK 4"></nz-option>
                  <nz-option nzValue="hsk5"
                             nzLabel="HSK 5"></nz-option>
                  <nz-option nzValue="hsk6"
                             nzLabel="HSK 6"></nz-option>
                  <nz-option nzValue="hsk79"
                             nzLabel="HSK 7-9"></nz-option>
                  <nz-option nzValue="z---"
                             nzLabel="-------"></nz-option>
                </nz-select>
                <ng-template #errorHsk
                             let-control>
                  <ng-container *ngIf="control.touched && control.hasError('required')">
                    {{ 'SELECT.PLACE_HOLDER' | translate }}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- Type-->
          <div nz-col
               nzSpan="12">
            <nz-form-item>
              <nz-form-label nzFor="type">{{ 'DICTIONARY.TYPE' | translate }}</nz-form-label>
              <nz-form-control>
                <nz-select nzAllowClear
                           [nzPlaceHolder]="'SELECT.PLACE_HOLDER' | translate"
                           formControlName="type">
                  <nz-option nzValue="DICTIONARY.TYPE.NOUN"
                             [nzLabel]="'DICTIONARY.TYPE.NOUN' | translate"></nz-option>
                  <nz-option nzValue="DICTIONARY.TYPE.VERB"
                             [nzLabel]="'DICTIONARY.TYPE.VERB' | translate"></nz-option>
                  <nz-option nzValue="DICTIONARY.TYPE.ADJ"
                             [nzLabel]="'DICTIONARY.TYPE.ADJ' | translate"></nz-option>
                  <nz-option nzValue="DICTIONARY.TYPE.N"
                             [nzLabel]="'DICTIONARY.TYPE.N' | translate"></nz-option>
                  <nz-option nzValue="DICTIONARY.TYPE.M"
                             [nzLabel]="'DICTIONARY.TYPE.M' | translate"></nz-option>
                  <nz-option nzValue="DICTIONARY.TYPE.NM"
                             [nzLabel]="'DICTIONARY.TYPE.NM' | translate"></nz-option>
                  <nz-option nzValue="DICTIONARY.TYPE.PRON"
                             [nzLabel]="'DICTIONARY.TYPE.PRON' | translate"></nz-option>
                  <nz-option nzValue="DICTIONARY.TYPE.SUB"
                             [nzLabel]="'DICTIONARY.TYPE.SUB' | translate"></nz-option>
                  <nz-option nzValue="DICTIONARY.TYPE.PREP"
                             [nzLabel]="'DICTIONARY.TYPE.PREP' | translate"></nz-option>
                  <nz-option nzValue="DICTIONARY.TYPE.CONJ"
                             [nzLabel]="'DICTIONARY.TYPE.CONJ' | translate"></nz-option>
                  <nz-option nzValue="DICTIONARY.TYPE.SUP"
                             [nzLabel]="'DICTIONARY.TYPE.SUP' | translate"></nz-option>
                  <nz-option nzValue="DICTIONARY.TYPE.IN"
                             [nzLabel]="'DICTIONARY.TYPE.IN' | translate"></nz-option>
                  <nz-option nzValue="DICTIONARY.TYPE.SOU"
                             [nzLabel]="'DICTIONARY.TYPE.SOU' | translate"></nz-option>
                  <nz-option nzValue="DICTIONARY.TYPE.F"
                             [nzLabel]="'DICTIONARY.TYPE.F' | translate"></nz-option>
                  <nz-option nzValue="DICTIONARY.TYPE.L"
                             [nzLabel]="'DICTIONARY.TYPE.L' | translate"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- Define -->
          <div nz-col
               nzSpan="24">
            <nz-form-item>
              <nz-form-label nzRequired
                             nzFor="define">{{ 'DICTIONARY.DEFINE' | translate }}</nz-form-label>
              <nz-form-control [nzErrorTip]="errorDefine">
                <input nz-input
                       placeholder="{{ 'INPUT.PLACE_HOLDER' | translate }}"
                       id="define"
                       formControlName="define" />
                <ng-template #errorDefine
                             let-control>
                  <ng-container *ngIf="control.touched && control.hasError('required')">
                    {{ 'INPUT.PLACE_HOLDER' | translate }}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- Zh-vi-->
          <div nz-col
               nzSpan="12">
            <nz-form-item>
              <nz-form-label nzFor="chinaVietnamWord">{{ 'DICTIONARY.CHINA_VIETNAM_WORD' | translate }}</nz-form-label>
              <nz-form-control>
                <input nz-input
                       placeholder="{{ 'INPUT.PLACE_HOLDER' | translate }}"
                       id="chinaVietnamWord"
                       formControlName="chinaVietnamWord" />
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- Note-->
          <div nz-col
               nzSpan="12">
            <nz-form-item>
              <nz-form-label nzFor="reference">{{ 'DICTIONARY.REFERENCE' | translate }}</nz-form-label>
              <nz-form-control>
                <input nz-input
                       placeholder="{{ 'INPUT.PLACE_HOLDER' | translate }}"
                       id="reference"
                       formControlName="reference" />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </ng-container>
    <ng-container *nzModalFooter>
      <label style="margin-right: auto;"
             nz-checkbox
             [(ngModel)]="shouldStay">
        {{ 'SHOULD_STAY' | translate: { action: formVm.isCreate
        ? ('ACTION.CREATE' | translate )
        : ('ACTION.UPDATE' | translate )} }}
      </label>
      <button nz-button
              nzType="default"
              (click)="onCancel()">{{ 'CANCEL' | translate }} (Esc)</button>
      <button nz-button
              nzType="primary"
              (click)="onSubmit()"
              [disabled]="dictionaryForm.invalid || !dictionaryForm.dirty || !canEdit || formVm.isSubmitting"
              [nzLoading]="formVm.isSubmitting">
        {{ formVm.isCreate ? ('ACTION.CREATE' | translate) : ('ACTION.UPDATE' | translate) }} (Enter)
      </button>
    </ng-container>
  </nz-modal>
</ng-container>