@import '/src/variables.scss';

.create-button {
  background: $primary-color;
  color: $white;
  border: none;
  border-radius: 0.5rem;
  transition: $transition;
}

.create-button:hover {
  background: $primary-color;
  color: $white;
  opacity: 0.8;
}

.cancel-button {
  background: rgba($color: $black, $alpha: 0.25);
  color: $white;
  border: none;
  border-radius: 0.5rem;
  transition: $transition;
}

.cancel-button:hover {
  background: rgba($color: $black, $alpha: 0.25);
  color: $white;
  opacity: 0.8;
}
