@import '/src/variables.scss';

.ant-modal-header,
.ant-modal-body {
  padding: 1rem;
}
.ant-modal-footer {
  padding: 0.5rem 1rem;
}

@media (max-width: 767px) {
  .ant-modal {
    max-width: calc(100vw - 2rem);
    margin: 0 auto;
  }
}
