<ng-container *ngIf="vm$ | async as vm">
  <nz-tabset [nzAnimated]="false"
             [nzSelectedIndex]="tabIndex$ | async"
             (nzSelectedIndexChange)="onSelectTab($event)">
    <nz-tab *ngFor="let i of [1,2,3]"
            [nzTitle]="'HSK ' + i | translate">
      <ng-template nz-tab>
        <app-audio-list [audios]="vm.data"
                        [selectedAudio]="vm.selectedAudio"
                        [isLoading]="vm.isLoading"
                        [isPlaying]="vm.isPlaying"
                        [progress]="vm.progress"
                        [currentPage]="currentPage"
                        (selectAudio)="onSelectAudio($event)"
                        (pageChange)="onPageChange($event)"
                        (playing)="onPlaying()"
                        (pause)="onPause()"></app-audio-list>
      </ng-template>
    </nz-tab>
    <nz-tab *ngFor="let i of [4,5,6]"
            [nzTitle]="'HSK ' + i | translate">
      <ng-template nz-tab>
        {{ 'COMING_SOON' | translate }}
      </ng-template>
    </nz-tab>
  </nz-tabset>
</ng-container>