<nz-tabset [nzAnimated]="true">
  <nz-tab [nzTitle]="'HSK 1' | translate">
    <ng-container class="tab-content">
      <app-audio-list [audioList]="audioList"></app-audio-list>
    </ng-container>
  </nz-tab>
  <nz-tab [nzTitle]="'HSK 2' | translate">
    <ng-container class="tab-content">
      Coming soon...
    </ng-container>
  </nz-tab>
  <nz-tab [nzTitle]="'HSK 3' | translate">
    <ng-container class="tab-content">
      Coming soon...
    </ng-container>
  </nz-tab>
  <nz-tab [nzTitle]="'HSK 4' | translate">
    <ng-container class="tab-content">
      Coming soon...
    </ng-container>
  </nz-tab>
  <nz-tab [nzTitle]="'HSK 5' | translate">
    <ng-container class="tab-content">
      Coming soon...
    </ng-container>
  </nz-tab>
</nz-tabset>