<nz-drawer [nzClosable]="true"
           [nzVisible]="(isVisibleForm$ | async)!"
           nzPlacement="right"
           nzWidth="calc(25vw + 200px)"
           nzTitle="Create"
           (nzOnClose)="onClose()">
  <ng-container *nzDrawerContent>
    <form nz-form
          [formGroup]="courseForm"
          [nzLayout]="'vertical'">
      <div nz-row
           [nzGutter]="16">
        <div nz-col
             nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired
                           nzFor="name">{{'COURSE.NAME' | translate }}</nz-form-label>
            <nz-form-control [nzErrorTip]="errorName">
              <input nz-input
                     placeholder="{{ 'INPUT.PLACE_HOLDER' | translate }}"
                     id="name"
                     formControlName="name">
              <ng-template #errorName
                           let-control>
                <ng-container *ngIf="control.touched && control.hasError('required')">
                  {{ 'INPUT.PLACE_HOLDER' | translate }}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col
             nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>{{'COURSE.PRICE' | translate }}</nz-form-label>
            <nz-form-control>
              <nz-input-number [nzMin]="100000"
                               [nzStep]="50000"
                               formControlName="price"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col
             nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>{{'COURSE.BEGIN_DATE' | translate }}</nz-form-label>
            <nz-form-control>
              <nz-date-picker formControlName="beginDate"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col
             nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>{{'COURSE.BEGIN_TIME' | translate }}</nz-form-label>
            <nz-form-control>
              <nz-time-picker formControlName="beginTime"></nz-time-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
    <button [disabled]="courseForm.invalid"
            nz-button
            (click)="onSubmit()">Create</button>
  </ng-container>
</nz-drawer>