<ng-container *ngIf="audio.isLoading; else audioList">
  <nz-spin nzSimple></nz-spin>
</ng-container>
<ng-template #audioList>
  <div class="controls"
       *ngIf="selectedAudio">
    <h4 class="audio__title">{{ selectedAudio.title | translate }}</h4>
    <audio id="audioControls"
           controls
           autoplay
           preload="none"
           [attr.src]="selectedAudio.url">
      <source [src]="[selectedAudio.url]"
              type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
  </div>
  <div class="controls"
       *ngIf="!selectedAudio">
    <h4 class="audio__title">{{ 'SELECT' | translate }} <i nz-icon
         nzType="heart"
         nzTheme="outline"></i></h4>
    <audio id="audioControls"
           controls>
      <source type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
  </div>
  <div class="pagination">
    <pagination-controls (pageChange)="currentPage = $event"
                         previousLabel="<"
                         nextLabel=">"
                         [maxSize]="6"
                         [directionLinks]="false"
                         [autoHide]="true"
                         [responsive]="false"></pagination-controls>
  </div>
  <div class="audio-list"
       [ngStyle]="{ 'grid-auto-rows': audio.height }">
    <div *ngFor="let audio of audio.list | paginate: { itemsPerPage: 16, currentPage: currentPage }"
         class="audio"
         (click)="onSelect(audio)">
      <div class="audio__type">{{ audio.type | translate }} {{ audio.grade | uppercase }}</div>
      <nz-divider></nz-divider>
      <strong class="audio__title">{{ audio.title | translate }}
      </strong>
      <div class="actions">
        <span *ngIf="selectedAudio === audio && isPlaying; else play"
              nz-icon
              nzType="pause-circle"
              nzTheme="fill"></span>
        <ng-template #play>
          <span class="actions--play"
                nz-icon
                nzType="play-circle"
                nzTheme="fill"></span>
        </ng-template>
      </div>
    </div>
  </div>
</ng-template>