@import 'src/variables.scss';

.ant-dropdown-menu {
  padding: 0 !important;
  max-height: calc($main-height);
  width: 25vw;
  border-radius: 5px 0 0 5px !important;
  overflow-y: auto;
}

.ant-badge-count-sm {
  font-size: 10px;
}

.notification {
  margin-right: 0.75rem;
  > span {
    font-size: 16px;
    transition: $transition;
  }
  > span:hover {
    opacity: 0.8;
  }
}
.notification:hover {
  cursor: pointer;
}

.item {
  background: #fff;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  border-left: 5px solid transparent;
  border-bottom: 0.5px solid rgba($color: $gray, $alpha: 0.25);
  &__content {
    .block {
      display: list-item;
      font-size: 11px;
      line-height: $line-height;
      color: rgba($color: $gray, $alpha: 0.5);
      font-weight: 300;
      &--old {
        margin-right: 0.25rem;
        color: $black;
      }
      &--new {
        color: $black;
      }
    }
  }
  &__date {
    margin-left: auto;
    color: rgba($color: $gray, $alpha: 0.5);
    font-size: 8px;
  }
  &--unread {
    border-left: 5px solid $primary-color;
    background: rgba($color: $gray, $alpha: 0.15);
  }
  transition: $transition;
}

.item:hover {
  background: $white;
}

@media screen and (max-width: $tablet) {
  .ant-dropdown-menu {
    width: calc(37.5vw + 100px);
  }
}

@media screen and (max-width: $mobile) {
  .ant-dropdown-menu {
    width: 300px;
  }
}
