@import 'layout';

ul {
  .info {
    margin-bottom: 1rem;
    display: inline-block;
    font-size: 2rem;
    line-height: 125%;
    color: $primary-color;
    transition: $transition;
  }
  .info:hover {
    transform: translateX(2px);
  }
}
