<nz-tabset [nzAnimated]="true">
  <nz-tab [nzTitle]="'HSK 1' | translate">
    <app-audio-list [audioList]="audioList"></app-audio-list>
  </nz-tab>
  <nz-tab [nzTitle]="'HSK 2' | translate">
    {{ 'COMING_SOON' | translate }}
  </nz-tab>
  <nz-tab [nzTitle]="'HSK 3' | translate">
    {{ 'COMING_SOON' | translate }}
  </nz-tab>
  <nz-tab [nzTitle]="'HSK 4' | translate">
    {{ 'COMING_SOON' | translate }}
  </nz-tab>
  <nz-tab [nzTitle]="'HSK 5' | translate">
    {{ 'COMING_SOON' | translate }}
  </nz-tab>
  <nz-tab [nzTitle]="'HSK 6' | translate">
    {{ 'COMING_SOON' | translate }}
  </nz-tab>
  <nz-tab [nzTitle]="'HSK 7' | translate">
    {{ 'COMING_SOON' | translate }}
  </nz-tab>
  <nz-tab [nzTitle]="'HSK 8' | translate">
    {{ 'COMING_SOON' | translate }}
  </nz-tab>
  <nz-tab [nzTitle]="'HSK 9' | translate">
    {{ 'COMING_SOON' | translate }}
  </nz-tab>
</nz-tabset>