@import 'src/variables.scss';

.select {
  margin-right: 0.5rem;
  padding: 0.25rem;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select:hover {
  cursor: pointer;
}
