<select (change)="changeLanguage($event)">
        <option *ngIf="currentLanguage"
                selected
                [value]="currentLanguage">{{ currentLanguage | uppercase | translate }}
        </option>
        <option *ngIf="currentLanguage != 'vi'"
                value="vi">{{ 'VI' | translate }}</option>
        <option *ngIf="currentLanguage != 'en'"
                value="en">{{ 'EN' | translate }}</option>
        <option *ngIf="currentLanguage != 'zh'"
                value="zh">{{ 'ZH' | translate }}</option>
</select>