@import 'src/variables.scss';

.select {
  padding: 0.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1.5px solid $white;
  border-radius: 0.25rem;
}
.select:hover {
  cursor: pointer;
}
