<div class="tab-content">
  <nz-collapse nzExpandIconPosition="right" nzBordered="true">
    <ng-container *ngIf="!vocabularyList"><nz-spin [style.margin]="'auto'" nzSimple></nz-spin></ng-container>
    <nz-collapse-panel *ngFor="let vocabulary of vocabularyList" [nzHeader]="vocabulary.name" [nzActive]="false">
      <ul class="wordList">
        <li *ngFor="let word of vocabulary.words" class="word">
          <span class="word--name">{{ word.name }}</span>
          <div class="wrap">
            <span class="word--pinyin">{{ word.pinyin }}</span>
            <span class="word--define">{{ word.define | translate }}</span>
          </div>
        </li>
      </ul>
    </nz-collapse-panel>
  </nz-collapse>
</div>
