@import '/src/variables.scss';

::ng-deep {
  .ant-table.ant-table-small {
    font-family: sans-serif, monospace;
  }
  .ant-table {
    color: $black;
    background: #fff;
    font-weight: 300;
    font-display: fall-back;
    .ant-table-header {
      background: $second-white;
    }
    cdk-virtual-scroll-viewport {
      min-height: 50vh !important;
      .ant-empty-image {
        height: 12rem;
      }
      .ant-empty-description {
        font-size: large;
      }
    }
  }
  .ant-table-thead > tr > th {
    background: $white;
    font-family: $primary-font;
    font-weight: 600;
  }
  .ant-table-thead > tr > th:first-child {
    color: $red;
  }
  .ant-table-thead th.ant-table-column-sort {
    background: $white;
    transition: $transition;
  }
  .ant-table-thead th.ant-table-column-sort:hover {
    background: rgba($color: $second-white, $alpha: 0.25);
  }
  .ant-table.ant-table-small .ant-table-tbody > tr > td {
    padding: 0 0.5rem;
  }
  .ant-table-column-title {
    position: static;
    z-index: auto;
  }
  .ant-table-pagination.ant-pagination {
    padding: 0.5rem !important;
    margin: 0 !important;
    background: $white;
    .ant-pagination-total-text {
      margin: 0;
    }
    .ant-pagination-options {
      display: block;
      .ant-select-selector {
        padding: 0 0.25rem;
      }
    }
  }
}

nz-table {
  box-shadow: 0 2px 10px 5px rgba($color: $black, $alpha: 0.25);
}

nz-empty {
  height: 45vh;
}
