<ng-content select="[slot=top]"></ng-content>
<nz-table [style.margin-top.rem]="'0.5'"
          [nzSize]="'small'"
          [nzSimple]=""
          [nzBordered]="false"
          [nzOuterBordered]="true"
          #virtualTable
          [nzVirtualItemSize]="10"
          [nzVirtualForTrackBy]="trackByIndex"
          [nzFrontPagination]="false"
          [nzShowPagination]="false"
          [nzScroll]="{ x: 'calc(100%)', y: 'calc(80vh - 220px)' }"
          [nzLoading]="isLoading"
          [nzNoResult]="noResult"
          [nzData]="records">
  <thead>
    <tr>
      <ng-container *ngFor="let header of headers; let i = index">
        <th [nzWidth]="headers[i].width"
            [nzAlign]="headers[i].align"
            [nzLeft]="headers[i].position === 'left'"
            [nzRight]="headers[i].position === 'right'"
            [nzFilters]="headers[i].filters"
            [nzFilterFn]="headers[i].filterFn"
            [nzSortOrder]="headers[i].sortOrder"
            [nzSortPriority]="headers[i].sortPriority"
            [nzSortFn]="headers[i].sortFn">
          {{ headers[i].label | translate }}
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <ng-template nz-virtual-scroll
                 let-row
                 let-rowIndex="index">
      <tr>
        <ng-container *ngFor="let header of headers; let cellIndex = index">
          <td [nzAlign]="header.align"
              [nzLeft]="header.position === 'left'"
              [nzRight]="header.position === 'right'">
            <ng-template [ngTemplateOutlet]="cellTemplates[header.cellType] || defaultCell"
                         [ngTemplateOutletContext]="{
                $implicit: header.field && row[header.field],
                cellType: header.cellType
              }">
            </ng-template>
            <ng-template #defaultCell
                         let-cellValue>{{ cellValue }}</ng-template>
          </td>
        </ng-container>
      </tr>
    </ng-template>
  </tbody>
</nz-table>

<ng-template #noResult>
  <nz-empty [nzNotFoundContent]="'NO_RESULT' | translate"></nz-empty>
</ng-template>