@import '/src/variables.scss';

::ng-deep {
  .ant-table.ant-table-small {
    font-family: sans-serif, monospace;
  }
  .ant-table {
    color: $black;
    background: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    font-display: fall-back;
    .ant-table-header {
      overflow-y: hidden !important;
    }
  }
  nz-table {
    box-shadow: 0 2px 10px 5px rgba($color: $black, $alpha: 0.25);
  }
  .ant-table-thead > tr > th {
    background: $white;
  }
  .ant-table-thead th.ant-table-column-sort {
    background: $white;
  }
  .ant-table-thead th.ant-table-column-sort:hover {
    background: rgba($color: $white, $alpha: 0.5);
  }
}
