@import '/src/styles.scss';
@import 'animation';
@import 'spinner';

.tab-content {
  padding: 0.5rem 0;
  .controls {
    position: sticky;
    padding: 0 2rem;
    height: 7rem;
    background: linear-gradient(135deg, rgba($color: $primary-color, $alpha: 0.75), rgba($color: $blue, $alpha: 0.75));
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
    box-shadow: 1px 1px 0 0 $second-white;
    border-radius: 0.5rem;
    .audio__title {
      color: $white;
      // margin-bottom: 0.5rem;
    }
    audio {
      width: 100%;
      height: 2rem;
    }
  }

  .pagination {
    height: 5vh;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    ::ng-deep .ngx-pagination {
      margin: 0 !important;
      li {
        padding: 0;
        width: 2rem;
        text-align: center;
        border-radius: 0.25rem;
        a {
          padding: 0;
          border-radius: 0.25rem;
          transition: $transition;
        }
        a:hover {
          background: $second-white;
        }
      }
      .current {
        background: $magenta-blue-linear-gradient;
        opacity: 0.5;
      }
    }
  }

  .audio-list {
    padding-right: 0.5rem;
    height: calc(60vh - 7rem);
    background: rgba($color: $white, $alpha: 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    grid-gap: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    .audio {
      padding: 0.75rem;
      background: #fff;
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: flex-start;
      box-shadow: 1px 1px 0 0 rgba($color: $gray, $alpha: 0.1);
      border-radius: 0.5rem;
      cursor: pointer;
      scroll-snap-align: start;
      transition: $transition;
      &__description {
        font-weight: 400;
        font-size: 1rem;
      }
    }
    .audio:hover {
      background: $second-white;
    }
    .audio:nth-child(odd) {
      animation: slideToRight 0.75s ease 0s backwards;
    }
    .audio:nth-child(even) {
      animation: slideToLeft 0.75s ease 0s backwards;
    }
  }
}

@media screen and (max-width: $tablet) {
  .tab-content {
    .audio-list {
      grid-template-columns: repeat(2, 1fr);
      .audio {
        &__description {
          font-size: 0.9rem;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .tab-content {
    padding: 0.5rem 0;
    .controls {
      padding: 1rem;
    }
    .audio-list {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0.75rem;
      .audio {
        padding: 0.5rem 1rem;
      }
    }
  }
}
