<div class="tab-content">
  <ng-container *ngIf="!audioList">loading...</ng-container>
  <div class="controls" *ngIf="selectedAudio">
    <h4 class="audio__title">{{ selectedAudio.title | translate }}</h4>
    <audio controls autoplay preload="none" [attr.src]="selectedAudio.url">
      <source [src]="[selectedAudio.url]" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
  </div>
  <div class="controls" *ngIf="!selectedAudio">
    <h4 class="audio__title">{{ 'SELECT' | translate }} <i nz-icon nzType="heart" nzTheme="outline"></i></h4>
    <audio controls>
      <source type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
  </div>
  <div class="pagination">
    <pagination-controls
      (pageChange)="currentPage = $event"
      previousLabel="<"
      nextLabel=">"
      [maxSize]="6"
      [directionLinks]="false"
      [autoHide]="true"
      [responsive]="false"
    ></pagination-controls>
  </div>
  <div class="audio-list" [ngStyle]="{ 'grid-auto-rows': audioHeight}">
    <ul
      *ngFor="let audio of audioList | paginate: { itemsPerPage: 16, currentPage: currentPage }"
      class="audio"
      (click)="onSelect(audio)"
    >
      <strong class="audio__title">{{ audio.title | translate }}</strong>
      <nz-divider></nz-divider>
      <p class="audio__description">{{ audio.description }}</p>
    </ul>
  </div>
</div>
