@import 'spinner';

.loading-page {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  .slogan {
    margin-top: 1rem;
  }
}
