<ng-container *ngIf="vm$ | async as vm">
  <ng-container *ngIf="vm.isLoading; else profileTemplate">
    <nz-spin nzSimple></nz-spin>
  </ng-container>
  <ng-template #profileTemplate>
    <ng-container>Email: {{ vm.profile.email }}</ng-container>
    <br />
    <ng-container>Name: {{ vm.profile.name }}</ng-container>
    <br />
    <ng-container>Nick name: {{ vm.profile.nickname }}</ng-container>
    <br />
    <ng-container>Avatar:</ng-container>
    <img loading="eager"
         [style.height.rem]="4"
         [style.width.rem]="4"
         [style.border-radius.%]="50"
         [src]="vm.profile.picture"
         alt="Avatar" />
    <br />
    <ng-container>Updated at: {{ vm.profile.updated_at | date : 'hh:mm dd/MM/yyyy' }}</ng-container>
  </ng-template>
</ng-container>