<div class="home">
  <p class="text">
    {{ 'INTRO1' | translate }}
  </p>
  <div class="slider">
    <img loading="eager" src="/assets/images/sino.webp" alt="" />
    <img loading="lazy" src="/assets/images/huawei.webp" alt="" />
    <img loading="lazy" src="/assets/images/ray.webp" alt="" />
    <img loading="lazy" src="/assets/images/ray2.webp" alt="" />
    <img loading="lazy" src="/assets/images/c919.webp" alt="" srcset="" />
    <img loading="lazy" src="/assets/images/car.webp" alt="" />
    <img loading="lazy" src="/assets/images/cau.webp" alt="" />
    <img loading="lazy" src="/assets/images/galaxy.webp" alt="" />
    <img loading="lazy" src="/assets/images/plym.webp" alt="" />
    <img loading="lazy" src="/assets/images/rcep.webp" alt="" />
    <img loading="lazy" src="/assets/images/rcep2.webp" alt="" />
    <img style="display: none;" src="/assets/images/thumbnail.webp" alt="">
  </div>
  <p class="text">
    {{ 'INTRO3' | translate }}
  </p>
  <div class="slider">
    <img loading="eager" src="/assets/images/01.webp" alt="">
    <img loading="lazy" src="/assets/images/01.webp" alt="">
    <img loading="lazy" src="/assets/images/01.webp" alt="">
  </div>
  <p class="text">
    {{ 'INTRO4' | translate }}
  </p>
</div>
