<div class="page">
  <strong>{{ 'CHOOSE_LANGUAGE' | translate }}: </strong>
  <app-change-language></app-change-language>

  <div class="cards">
    <div routerLink="/vocabulary"
         class="card">
      <span>{{ 'VOCABULARY' | translate }}</span>
    </div>
    <div routerLink="/curriculum"
         class="card">
      <span>{{ 'CURRICULUM' | translate }}</span>
    </div>
    <div routerLink="/exercise"
         class="card">
      <span>{{ 'EXERCISE' | translate }}</span>
    </div>
    <div routerLink="/course"
         class="card">
      <span>{{ 'COURSE' | translate }}</span>
    </div>
    <div routerLink="/about"
         class="card">
      <span>{{ 'ABOUT' | translate }}</span>
    </div>
  </div>
</div>