@import "/src/styles.scss";
@import 'src/assets/scss/_tab.scss';
@import 'src/assets/scss/_collapse.scss';

.tab-content {
  margin-top: 0.5rem;
  padding-right: 0.25rem;
  height: 65vh;
  overflow-y: scroll;
}
