@import "/src/styles.scss";
@import "src/assets/scss/_tab.scss";
@import "src/assets/scss/_collapse.scss";

.tab-content {
  padding: 1rem 0;
  height: 70vh;
  overflow-y: scroll;
  .cell {
    padding-bottom: 1rem;
    margin-right: 1rem;
    display: inline-block;
  }
}
