<div id="list"
     #wordListViewport
     (scroll)="onScroll()"
     class="list">
  <ng-container *ngIf="isLoading; else wordListTemplate">
    <div style="height: 100%; display: flex; justify-content: center; align-items: center">
      <nz-spin [nzSize]="'large'"></nz-spin>
    </div>
  </ng-container>
  <ng-template #wordListTemplate>
    <ng-container *ngIf="words.length === 0 && filterType === 'search'">
      <img [style.margin]="'auto'"
           [style.padding.rem]="'0.25'"
           [style.width.%]="'75'"
           src="assets/images/no_result.png" />
      <h4 [style.text-align]="'center'">{{ 'NO_RESULT' | translate }}</h4>
      <p [style.text-align]="'center'">{{ 'AFTER_NO_RESULT' | translate }}</p>
    </ng-container>
    <app-dictionary-item [editable]="editable"
                         [deletable]="deletable"
                         (edit)="edit.emit(word)"
                         (delete)="delete.emit(word._id)"
                         *ngFor="let word of words; index as i"
                         [word]="word">
      <span [style.width.%]="'10'"
            [style.color]="'#4c566a80'"
            [style.font-size.px]="'9'"
            [style.font-weight]="'500'"
            [style.line-height.%]="'100'"
            slot="index">{{ i + 1 }}:</span>
    </app-dictionary-item>
  </ng-template>
</div>