@import '/src/variables.scss';
@font-face {
  font-family: MyFont;
  src: url('../../../../assets/fonts/pinyin.woff') format('woff');
}

.top {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .create-button {
    padding: 0 0.5rem;
    background: $primary-color;
    color: $white;
    border: none;
    border-radius: 0.5rem;
    transition: $transition;
  }
  .create-button:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  .search-input {
    padding: 0.25 0.5rem;
    margin-left: 0.5rem;
    width: calc(25vw + 5rem);
    border-radius: 0.5rem;
  }
  .totals {
    margin-left: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.wordList {
  margin: 0;
  height: calc(100vh - 15rem);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  .word {
    padding: 0.5rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    scroll-snap-align: start;
    &--name {
      min-width: 4rem;
      color: $black;
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: 1px;
    }
    &--pinyin {
      color: $primary-color;
    }
    &--define {
      color: #81a1c1;
    }
    .wrap {
      margin-left: 0.5rem;
      display: flex;
      flex-flow: column;
      line-height: 100%;
    }
  }
  .word:not(:last-of-type) {
    border-bottom: 1px solid rgba($color: $gray, $alpha: 0.3);
  }
}

@media screen and (max-width: $mobile) {
  .top-table {
    .search-input {
      margin-left: 0.25rem;
      padding: 0.25rem;
    }
  }
}
