<ng-container *ngIf="(vm$ | async) as vm">
  <app-table [trackByIndex]="trackByIndex"
             [records]="vm.words"
             [isLoading]="vm.isLoading"
             [headers]="headers">
    <div slot="top"
         class="top-table">
      <button nz-button
              class="create-button"
              (click)="onCreate()"><span nz-icon
              nzType="plus"
              nzTheme="outline"></span>{{ 'ACTION.CREATE' | translate }}</button>
      <span><u>{{ 'TOTALS' | translate: { totals: vm.words.length } }}</u></span>
    </div>
    <ng-template appTableCell="actions"
                 let-rowIndex="rowIndex"
                 let-value>
      <div class="actions">
        <span nz-icon
              nzType="edit"
              nzTheme="fill"
              (click)="onEdit(value)"></span>

        <!-- Testing delete is OK-->
        <span nz-popconfirm
              [nzPopconfirmTitle]="'CONFIRM_DELETE' | translate"
              nzOkText="OK"
              nzCancelText="Cancel"
              (nzOnConfirm)="onDelete(value)"
              (nzOnCancel)="onCancel()"
              class="delete-button"
              nz-icon
              nzType="delete"
              nzTheme="fill"></span>
        <!-- {{ value }} -->
      </div>
    </ng-template>

    <ng-template appTableCell="lowercase"
                 let-rowIndex="rowIndex"
                 let-value>
      {{ value | lowercase }}
    </ng-template>

    <ng-template appTableCell="hsk"
                 let-rowIndex="rowIndex"
                 let-value>
      <ng-container *ngIf="value === 'hsk1'">
        <nz-tag [nzColor]="'cyan'">HSK 1</nz-tag>
      </ng-container>
      <ng-container *ngIf="value === 'hsk2'">
        <nz-tag [nzColor]="'blue'">HSK 2</nz-tag>
      </ng-container>
      <ng-container *ngIf="value === 'hsk3'">
        <nz-tag [nzColor]="'geekblue'">HSK 3</nz-tag>
      </ng-container>
      <ng-container *ngIf="value === 'hsk4'">
        <nz-tag [nzColor]="'orange'">HSK 4</nz-tag>
      </ng-container>
      <ng-container *ngIf="value === 'hsk5'">
        <nz-tag [nzColor]="'volcano'">HSK 5</nz-tag>
      </ng-container>
      <ng-container *ngIf="value === 'hsk6'">
        <nz-tag [nzColor]="'purple'">HSK 6</nz-tag>
      </ng-container>
      <ng-container *ngIf="value === 'z---'">
        <nz-tag>--------</nz-tag>
      </ng-container>
    </ng-template>

    <ng-template appTableCell="date"
                 let-rowIndex="rowIndex"
                 let-value>
      {{ value | date: 'hh:mm:ss dd/MM/yyyy' }}
    </ng-template>
  </app-table>
</ng-container>

<app-dictionary-form></app-dictionary-form>