@import '/src/variables.scss';
@font-face {
  font-family: MyFont;
  src: url('../../../../assets/fonts/pinyin.woff') format('woff');
}

.top {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .create-button {
    padding: 0 0.5rem;
    background: $primary-color;
    color: $white;
    border: none;
    border-radius: 0.5rem;
    transition: $transition;
  }
  .create-button:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  .search-input {
    padding: 0.25;
    margin: 0 0.5rem;
    width: calc(25vw + 5rem);
    border-radius: 0.5rem;
  }
  .totals {
    margin-left: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.list {
  margin: 0;
  height: calc(100vh - 17rem);
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

@media screen and (max-width: $mobile) {
  .top-table {
    .search-input {
      margin-left: 0.25rem;
      padding: 0.25rem;
    }
  }
}
