<ng-content select="[slot=top]"></ng-content>
<ng-content select="[slot=actions]"></ng-content>
<nz-table #virtualTable
          [style.margin-top.rem]="'0.25'"
          [nzSize]="'small'"
          [nzBordered]="false"
          [nzOuterBordered]="true"
          [nzVirtualForTrackBy]="trackByIndex"
          [nzVirtualItemSize]="30"
          [nzFrontPagination]="clientPagination"
          [nzShowPagination]="clientPagination"
          [nzShowSizeChanger]="clientPagination"
          [nzPageSize]="20"
          [nzPageSizeOptions]="[20, 100, 500]"
          [nzScroll]="clientPagination ? { x: 'calc(100%)', y: 'calc(100vh - 20rem)' } : { x: 'calc(100%)', y: 'calc(100vh - 22.5rem)'}"
          [nzFooter]="footer"
          [nzLoading]="isLoading"
          [nzNoResult]="noResult"
          [nzData]="records">
  <thead>
    <tr>
      <th *ngIf="isSelectable"
          [nzChecked]="allRecordsChecked"
          [nzIndeterminate]="indeterminate"
          [nzDisabled]="!(isSelectable && records.length)"
          (nzCheckedChange)="onCheckAll($event)"
          nzWidth="2rem"
          nzLeft>
      </th>

      <ng-container *ngFor="let header of headers; let i = index">
        <th [nzWidth]="headers[i].width"
            [nzAlign]="headers[i].align"
            [nzLeft]="headers[i].position === 'left'"
            [nzRight]="headers[i].position === 'right'"
            [nzFilters]="headers[i].filters"
            [nzFilterFn]="headers[i].filterFn"
            [nzSortOrder]="headers[i].sortOrder"
            [nzSortPriority]="headers[i].sortPriority"
            [nzSortFn]="headers[i].sortFn">
          {{ headers[i].label | translate }}
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <ng-template nz-virtual-scroll
                 let-row>
      <tr>
        <ng-container *ngIf="isSelectable">
          <td [nzChecked]="isChecked(row[idField])"
              (nzCheckedChange)="onCheck(row[idField], $event)"
              nzLeft></td>
        </ng-container>

        <ng-container *ngFor="let header of headers">
          <td [nzAlign]="header.align"
              [nzLeft]="header.position === 'left'"
              [nzRight]="header.position === 'right'">
            <ng-template [ngTemplateOutlet]="cellTemplates[header.cellType] || defaultCell"
                         [ngTemplateOutletContext]="{
                $implicit: header.field && row[header.field],
                cellType: header.cellType
              }">
            </ng-template>
            <ng-template #defaultCell
                         let-cellValue>{{ cellValue }}</ng-template>
          </td>
        </ng-container>
      </tr>
    </ng-template>
  </tbody>
  <ng-template #footer>
    <span class="download"
          nz-tooltip
          nzTooltipTitle="Download Excel"
          nz-icon
          nzType="download"
          nzTheme="outline"
          (click)="onExportExcel()"></span>
  </ng-template>
</nz-table>

<ng-template #noResult>
  <nz-empty [nzNotFoundContent]="'NO_RESULT' | translate"></nz-empty>
</ng-template>