@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$black: #2e3440;
$white: #eceff4;
$white-secondary: #d8dee9;
$primary-color: #b48ead;
$gray: #3b4252;

$primary-font: 'Quicksand', sans-serif;
$font-size: 100%;
$line-height: 150%;

$transition: all 250ms ease-out;

$tablet: 1023px; // desktop first
$mobile: 767px;

$max-width-container: 100%;
