@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&display=swap');

$black: #2e3440;
$white: #eceff4;
$second-white: #d8dee9;
$primary-color: #b48ead;
$gray: #4c566a;
$red: #bf616a;
$blue: #88c0d0;

$big-space: 8rem;
$medium-space: 4rem;
$small-space: 0.5rem;

$linear-gradient: linear-gradient(
  135deg,
  rgba(
    $color: $primary-color,
    $alpha: 1,
  ),
  rgba(
    $color: $blue,
    $alpha: 0.75,
  )
);
$second-linear-gradient: linear-gradient(
  135deg,
  rgba(
    $color: $primary-color,
    $alpha: 0.75,
  ),
  rgba(
    $color: $blue,
    $alpha: 0.75,
  )
);
$white-linear-gradient: linear-gradient(
  135deg,
  rgba(
    $color: $second-white,
    $alpha: 1,
  ),
  rgba(
    $color: $second-white,
    $alpha: 0.5,
  )
);
$magenta-blue-linear-gradient: linear-gradient(
  135deg,
  rgba(
    $color: $primary-color,
    $alpha: 1,
  ),
  rgba(
    $color: #5e81ac,
    $alpha: 0.75,
  ),
  rgba(
    $color: $blue,
    $alpha: 0.75,
  )
);
$blue-linear-gradient: linear-gradient(
  135deg,
  rgba(
    $color: #5e81ac,
    $alpha: 1,
  ),
  rgba(
    $color: $blue,
    $alpha: 1,
  )
);
$magenta-blue-white-linear-gradient: linear-gradient(
  135deg,
  rgba(
    $color: $primary-color,
    $alpha: 0.5,
  ),
  rgba(
    $color: #81a1c1,
    $alpha: 0.375,
  ),
  rgba(
    $color: $blue,
    $alpha: 0.375,
  ),
  rgba(
    $color: $second-white,
    $alpha: 1,
  )
);

$primary-font: 'Quicksand', sans-serif;
$font-size: 100%;
$line-height: 150%;

$transition: all 250ms ease-out;

$tablet: 1024px;
$mobile: 768px;

$max-width-container: 100%;