@import 'src/styles.scss';

::ng-deep {
  .ant-dropdown-trigger {
    padding: 0.25rem;
    border: 2px solid rgba($color: $gray, $alpha: 0.75);
    border-radius: 2rem 1rem 1rem 2rem;
    transition: $transition;
  }
  .ant-dropdown-trigger:hover {
    background: $gray;
  }
  .ant-dropdown-menu-item {
    padding: 0.25rem 0.5rem;
    color: $black;
    background: $white;
    transition: $transition;
  }
  .ant-dropdown-menu-item:hover {
    background: $second-white;
  }
  .ant-dropdown-menu-item-selected {
    background: $second-white;
  }
}

.logout {
  color: $red;
}
.logout:hover {
  color: $white;
  background: $red;
}