@import '/src/variables.scss';

.word {
  padding: 0 0.5rem;
  border-bottom: 1px solid rgba($color: $gray, $alpha: 0.3);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  scroll-snap-align: start;
  &--name {
    width: 4.5rem;
    color: $red;
    font-size: 18px;
    letter-spacing: 1px;
  }
  &--wrap {
    display: flex;
    flex-flow: row wrap;
    width: calc(100% - 8rem);
    &--chivi {
      margin-left: 0.125rem;
      color: #81a1c1;
      font-size: smaller;
      font-weight: 500;
    }
    &--pinyin {
      color: $primary-color;
      font-size: smaller;
      font-weight: 500;
    }
    &--define {
      width: 100%;
      color: $gray;
      font-size: 15px;
      font-weight: 500;
    }
  }
  &--hsk {
    margin-left: auto;
    .ant-tag {
      margin: 0;
      padding: 0 0.25rem;
      width: 3rem;
      border-radius: 7.5px;
    }
  }
  &--date {
    width: 100%;
    color: rgba($color: $gray, $alpha: 0.5);
    font-size: 10px;
    text-align: right;
  }
  .actions {
    margin-left: auto;
    .delete-button {
      color: $red;
      transition: $transition;
    }
    .delete-button:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}
// .word:last-child {
//   border-bottom: 1px solid rgba($color: $gray, $alpha: 0.3);
// }
