@import '/src/variables.scss';

.word {
  min-height: 63.77px;
  height: calc(100% / 8);
  padding: 0.25rem 0.5rem 0;
  border-bottom: 1px solid rgba($color: $gray, $alpha: 0.25);
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  scroll-snap-align: start;
  &--name {
    color: $primary-color;
    font-size: 18px;
    letter-spacing: 1px;
  }
  &--pinyin {
    margin-left: 0.25rem;
    color: #81a1c1;
  }
  &--chivi {
    margin-left: 0.125rem;
    color: $blue;
  }
  &--define {
    width: 100%;
    color: $gray;
    font-weight: 500;
    word-wrap: break-word;
  }
  &--hsk {
    margin-left: auto;
    .ant-tag {
      margin: 0;
      padding: 0 0.25rem;
      width: 3rem;
      font-weight: 500;
      border-radius: 7.5px;
      border-width: 1.5px;
    }
  }
  &--date {
    width: 90%;
    color: rgba($color: $gray, $alpha: 0.5);
    font-size: 9px;
    text-align: right;
    line-height: 100%;
  }
  .actions {
    margin-left: auto;
    .delete-button {
      color: $red;
      transition: $transition;
    }
    .delete-button:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}
// .word:last-child {
//   border-bottom: 1px solid rgba($color: $gray, $alpha: 0.3);
// }
