@import '/src/variables.scss';

.word {
  padding: 0.5rem 0;
  border-top: 1px solid rgba($color: $gray, $alpha: 0.3);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: baseline;
  scroll-snap-align: start;
  &--name {
    width: 6rem;
    color: $red;
    font-size: 24px;
    line-height: 100%;
    font-weight: 400;
    letter-spacing: 1px;
  }
  &--chivi {
    // width: 7rem;
    color: #81a1c1;
  }
  &--pinyin {
    // width: calc(100% - 14rem);
    color: $primary-color;
  }
  &--hsk {
    margin-left: auto;
    .ant-tag {
      margin: 0;
      padding: 0 0.25rem;
      width: 3rem;
      border-width: 1.5px;
      border-radius: 12.5px;
      font-weight: 400;
    }
  }
  &--define {
    width: 100%;
    color: $gray;
  }
  .actions {
    margin-left: auto;
    .delete-button {
      color: $red;
      transition: $transition;
    }
    .delete-button:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}
// .word:not(:last-of-type) {
// }
