<li class="word">
  <ng-content select="[slot=index]"></ng-content>
  <span *ngIf="word.updatedDate; else createdDate"
        class="word--date">
    {{ 'UPDATED' | translate }}: {{ word.updatedDate | date : 'dd/MM/yyyy' }}</span>
  <ng-template #createdDate>
    <span class="word--date"> {{ 'CREATED' | translate }}: {{ word.createdDate | date : 'dd/MM/yyyy' }}</span>
  </ng-template>
  <span class="word--name">{{ word.display }}</span>
  <span class="word--pinyin">[{{ word.pinyin }}]</span>
  <span class="word--chivi">({{ word.chinaVietnamWord | titlecase }})</span>
  <span class="word--type"><nz-tag>{{ word.type | translate | lowercase }}</nz-tag></span>
  <span class="word--hsk">
    <ng-container [ngSwitch]="word.hsk">
      <ng-container *ngSwitchCase="'hsk1'">
        <nz-tag [nzColor]="'cyan'">HSK 1</nz-tag>
      </ng-container>
      <ng-container *ngSwitchCase="'hsk2'">
        <nz-tag [nzColor]="'blue'">HSK 2</nz-tag>
      </ng-container>
      <ng-container *ngSwitchCase="'hsk3'">
        <nz-tag [nzColor]="'geekblue'">HSK 3</nz-tag>
      </ng-container>
      <ng-container *ngSwitchCase="'hsk4'">
        <nz-tag [nzColor]="'purple'">HSK 4</nz-tag>
      </ng-container>
      <ng-container *ngSwitchCase="'hsk5'">
        <nz-tag [nzColor]="'volcano'">HSK 5</nz-tag>
      </ng-container>
      <ng-container *ngSwitchCase="'hsk6'">
        <nz-tag [nzColor]="'red'">HSK 6</nz-tag>
      </ng-container>
      <ng-container *ngSwitchCase="'hsk79'">
        <nz-tag [nzColor]="'magenta'">HSK 7+</nz-tag>
      </ng-container>
      <ng-container *ngSwitchCase="'z---'">
        <nz-tag>--------</nz-tag>
      </ng-container>
    </ng-container>
  </span>
  <span class="word--define">{{ word.define | translate }}</span>

  <div class="actions">
    <span nz-tooltip
          [nzTooltipTitle]="'ACTION.UPDATE' | translate"
          class="edit-button"
          nz-icon
          nzType="edit"
          nzTheme="fill"
          (click)="edit.emit(word)"></span>
    <span nz-tooltip
          [nzTooltipTitle]="'ACTION.DELETE' | translate"
          nz-popconfirm
          [nzPopconfirmTitle]="'CONFIRM_DELETE' | translate: { word: word.display + '[' + word.pinyin + ']' }"
          nzOkText="OK"
          [nzCancelText]="'CANCEL' | translate"
          (nzOnConfirm)="delete.emit(word)"
          (nzOnCancel)="onCancel()"
          class="delete-button"
          nz-icon
          nzType="delete"
          nzTheme="fill"></span>
  </div>
</li>